@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(https://fonts.googleapis.com/css?family=Raleway);
$coolBlue: rgba(0, 190, 180, .5);

@mixin wideBody(){
  width: 100%;
  margin: 0;
  padding: 0;
}
@mixin treQuarterBody(){
  width: 75%;
  margin: 0 auto;
  padding: 0;
}
body{
  position: relative;
  @include wideBody();
  box-sizing: content-box;
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
  color: $coolBlue;
}
.info-header{
  width: 100%;
  height: 100px;
}

.list{
  list-style: none;
  @include treQuarterBody();
  text-align: center;
  li{
    margin-bottom: 35px;
  }
}
.nav-list, .con-list{
  margin-top: 50px;
  margin-bottom: 20px;
  display:none;
}
#about-holder, #resu-holder, #con-holder, #proj-holder {
  position: relative;
  @include treQuarterBody();
  margin-top: 60px;
}
.blurb{
  display: none;
}
.circle{
  position: relative;
  background: $coolBlue;
  border-radius: 500px;
  height: 100px;
  width: 100px;
  text-align: center;
  padding: 0;
  box-sizing: content-box;
  cursor: pointer;
  padding-right: 2px;
  margin: 0 auto;
  color: white;
}
span.circ-text{
  position: relative;
  top: 35%;
  color: white;
  font-family: 'Didact Gothic', sans-serif;
  font-style: italic;
}
.scrn-shot{
  position: relative;
  display: block;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border-top: 1px solid $coolBlue;
  border-bottom: 1px solid $coolBlue;
}
.proj-title{
  text-align: center;
}
.proj-menu{
  li{
    margin-top: 20px;
    display: inline-block;
  }
}
.proj-viewer{
  display: none;
}
