@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);
@import url(https://fonts.googleapis.com/css?family=Raleway);
$mainColor: rgba(10, 10,10, 1);
// $mainColor: rgba(0, 190, 180, .5);

@mixin wideBody(){
  width: 100%;
  margin: 0;
  padding: 0;
}
@mixin treQuarterBody(){
  width: 75%;
  margin: 0 auto;
  padding: 0;
}
body{
  position: relative;
  @include wideBody();
  box-sizing: content-box;
  font-family: 'Raleway', sans-serif;
  color: $mainColor;
  font-style: italic;
}
a {
  text-decoration: none;
  color: $mainColor;
}
.info-header{
  width: 100%;
  height: 100px;
}

.list{
  list-style: none;
  @include treQuarterBody();
  text-align: center;
  li{
    margin-bottom: 35px;
  }
}
.nav-list, .con-list{
  margin-top: 50px;
  margin-bottom: 20px;
  display:none;
}
#about-holder, #resu-holder, #con-holder, #proj-holder {
  position: relative;
  @include treQuarterBody();
  margin-top: 60px;
}
.blurb{
  display: none;
  font-size: 1.8em;
}
.circle{
  position: relative;
  background: $mainColor;
  border-radius: 500px;
  height: 100px;
  width: 100px;
  text-align: center;
  padding: 0;
  box-sizing: content-box;
  cursor: pointer;
  padding-right: 2px;
  margin: 0 auto;
  color: white;
}
span.circ-text{
  position: relative;
  top: 35%;
  color: white;
  font-family: 'Didact Gothic', sans-serif;
  font-style: italic;
}
.scrn-shot{
  position: relative;
  display: block;
  width: 200px;
  height: 120px;
  margin: 0 auto;
  border-top: 1px solid $mainColor;
  border-bottom: 1px solid $mainColor;
}
.proj-title{
  text-align: center;
}
.proj-menu{
  margin: 0 auto;
  li{
    margin: 20px auto 0 auto;
    display: inline-block;
  }
}
.proj-viewer{
  display: none;
}
.info-header{
  height: 100px;
}
